@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: white;
  background-color: #958977;
  
}

header {
  background-image: url('../app/images/BackgroundImage.png');
  background-repeat: no-repeat;
  background-position: center;
}

#reservations {
  background-image: url('../app/images/reservation.png');
  background-repeat: no-repeat;
  background-position: center;
  position: right;
  
}